<?xml version="1.0" encoding="UTF-8" ?>
<udmlparser>
	<jobdetails>
		<udml>paintUDML2.txt</udml>
		<rpdxml>paintUDML2.xml</rpdxml>
		<udmlxsl></udmlxsl>
		<udmltgt></udmltgt>
	</jobdetails>
	<jobdetails>
		<udml>paintUDML1.txt</udml>
		<rpdxml>paintUDML1.xml</rpdxml>
		<udmlxsl></udmlxsl>
		<udmltgt></udmltgt>
	</jobdetails>
</udmlparser>

